:root{
    --bs-primary: #005750;
    --bs-primary-rgb: 0,87,80;
    --bs-secondary: #B3946D;
    --bs-secondary-rgb: 179,148,109;
    --bs-body-bg: #fcfaf2;
    --bs-body-color: #212529;
    --font-family: System-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --navbar-height: 56px;
    --footer-height: 56px;
}

html {
    font-family: var(--font-family);
}

.accordion {
    --bs-accordion-bg: #ffffff;
}

main {
    height: calc(100dvh - var(--navbar-height) - var(--footer-height));
    overflow-y: auto;
}